body{
    margin: 0;
    text-align: center;
    font-family:'merriweather',serif;
}
h1{
    line-height: 2;
    font-size: 5.625rem;
    margin: 50px auto o auto;
    font-family: cursive;
    color:#66BFBF ;
    
}
h2{
    font-family: monospace;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
   font-family: serif;
   color:#254243;
}
.bottom-cloud{
    width: 25%;
    
}
.top-cloud{
    width: 30%;
}
.top-container{
    background-color:#E4F9F5;
  position: relative;
  padding-top: 100px;
  
}
.middle-container{

  background-color: white;
}
.bottom-container{
    background-color:#E4F9F5;

}
.skill-raw{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    padding-top: 100px;
}
.elvis-img {
    width: 20%;
    height: 80%;
    float: left;
    margin: 0 10px 0 10px;
}
.felix-img {
    width: 20%;
    float: right;
    margin:0 10px 0 10px;
   
}
.my-img{
    width: 25%;
    height: 20%;
}

.bottom-cloud{
    position: absolute;
}